:root {
  ---primary-100: #f3f3f0;
  ---primary-200: #E0E2DB;
  ---primary-300: #D2D4C8;
  ---primary-800: #2E3532;
  ---primary-900: #1d1e1f;

  ---secondary-300: #cdf3b1;
  ---secondary-200: #a5eb90;
  ---secondary-700: rgb(50, 114, 62);

  ---accent-400: #b63737;
  ---accent-600: #8B2635;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  background-color: var(---primary-200);

  font-family: "arial";
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(---secondary-700);
}

a:hover {
  text-decoration: underline;
}

/* =========================================================================
   Header
   ========================================================================= */

header {
  margin: 0;
  margin-bottom: 2rem;
  padding: 1rem 0;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 4rem;

  background-color: var(---primary-100);
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* =========================================================================
   Forms
   ========================================================================= */

.form-container {
  background-color: var(---primary-100);
  border-radius: 8px;
  padding: 28px;
  margin-bottom: 8rem;
}

.form-container input {
  margin-bottom: 12px;
}

.form-container h3 {
  margin: 0;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

input {
  height: 2rem;

  padding-left: 10px;
  font-size: medium;

  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

input[type=text], input[type=password] {
  background-color: rgba(0, 0, 0, 0);
}

.primary-btn {
  background-color: var(---secondary-300);
}

.primary-btn:hover {
  background-color: var(---secondary-200);
}

/* =========================================================================
   Utility
   ========================================================================= */
.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}